<div>    
    <h2>Hello {{name}}</h2>
    <p>your order shipping details</p>
    <p><b>Order No :</b>{{order_no}}</p>
    <p><b>Shipping Id :</b>{{shipping_id}}</p>
    <p><b>Shipping details :</b>{{shipping_detail}}</p>
</div>